<div class="container mt-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <!-- <th>Created At</th> -->
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>1 </td>
        <td>Username </td>
        <td>Email </td>
        <td>Role </td>
        <!-- <td>{{ user.created_at | date }}</td> -->
        <td>Phone_number </td>
        <td class="actions">
          <!-- <button
            class="btnEdit"
            routerLink="/admin/updateUser/{{ user.user_id }}"
          >
            <i class="fa-solid fa-pen-to-square" style="color: #45a049"></i>
          </button> -->
          <button class="btnDelete">
            <i class="fa-solid fa-trash" style="color: red"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div *ngIf="usersArr.length < 1" class="no-users">
    <img src="../../../../assets/octocat.png" alt="" />
    <h1>No users at the moment</h1>
  </div> -->
</div>
