<nav>
  <div class="img">
    <img src="../../../assets/brain-exchange-high-resolution-logo.png" alt="" />
  </div>

  <div class="account">
    <li>Categories</li>
    <div class="both">
      <img src="../../../assets/icons8-member-30.png" alt="" />
      <li routerLink="/user-profile">My Account</li>
    </div>
    <li>Logout</li>
  </div>
</nav>

<section>
  <div class="both-engage">
    <div class="engage">
      <h3>You are one step away from finding the best specialists</h3>

      <input type="text" placeholder="Search services here"/> <i class="fa-solid fa-magnifying-glass"></i>

      <p>
        Brain exchange can help you connect, engage and book services with
        specialists easily.
      </p>
    </div>

    <div class="engage-img">
      <img src="../../../assets/handshake-3139227_1280.jpg" alt="" />
    </div>
  </div>

  <div class="services">
    <h1>Categories</h1>
    <div class="maincards">
      <div
        class="cards"
        routerLink="/Categories"
        *ngFor="let category of categoriesArr; let i = index"
      >
        <img src="{{ category.image }}" alt="" />
        <p>{{ category.categoryname }}</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
