<nav>
  <div class="img">
    <img
      src="../../../assets/brain-exchange-high-resolution-logo-transparent (1).png"
      alt=""
    />
  </div>

  <div class="account">
    <!-- <li>Categories</li>   -->
   <div class="both">
  <img src="../../../assets/icons8-member-30.png" alt="" />
  <a [routerLink]="['/user-profile', user_id]">
    <li>My Account</li>
  </a>
</div>

    <li>Logout</li>
  </div>
</nav>

<section>
  <div class="both-engage">
    <div class="engage">
      <h3>You are one step away from finding the best specialists</h3>

      <div class="input">
        <!-- Bind the input value to searchQuery using ngModel -->
        <input
          type="text"
          [(ngModel)]="searchQuery"
          (input)="searchCategories(searchQuery)"
          placeholder="Search category here"
        />
        <ul *ngIf="searchQuery">
          <!-- Iterate over the filtered categories -->
          <li
            *ngFor="let category of filteredCategories"
            (click)="navigateToCategory(category.category_id)"
          >
            {{ category.categoryname }}
          </li>
        </ul>
      </div>

      <p>
        Brain exchange can help you connect, engage and book services with
        specialists easily.
      </p>
    </div>

    <div class="engage-img">
      <img src="../../../assets/handshake-3139227_1280.jpg" alt="" />
    </div>
  </div>

  <div class="services">
    <h1>Categories</h1>
    <div class="maincards">
      <div
        class="cards"
        *ngFor="let category of categoriesArr; let i = index"
        (click)="navigateToCategory(category.category_id)"
      >
        <img src="{{ category.image }}" alt="" />
        <p>{{ category.categoryname }}</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
