<nav>
    <div class="img">
        <img src="../../../assets/brain-exchange-high-resolution-logo.png" alt="">
    </div>

    <div class="account">
        <li>Categories</li>
        <div class="both">
            <img src="../../../assets/icons8-member-30.png" alt="">
        <li>My Account</li>
        </div>
        <li>Logout</li>
    </div>
</nav>

<section>
    <div class="engage">
        <h3> You are one step away from finding the best specialists</h3>

        <input type="text" placeholder="Search services here">
    </div>
</section>