<div class="newsletter">
    <p>Newsletter</p>
    <div>
        <input type="text" placeholder="Your email">
    </div>
</div>

<div class="links">
    <div class="word-links">
        <li>Home</li>
        <li>Experience</li>
        <li>News</li>
        <li>About Us</li>
        <li>Contact</li>
    </div>

    <div class="media">
        <img src="../../../assets/icons8-facebook-48.png" alt="">
        <img src="../../../assets/icons8-twitter-48.png" alt="">
        <img src="../../../assets/icons8-instagram-48.png" alt="">
    </div>

    <p>Copyright 2024 - Brain Exchange</p>
</div>
