<app-dashboard> </app-dashboard>
<section>
  <div class="login">
    <div class="account">
      <h2>Hi, Welcome Back!</h2>
    </div>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="(login())">
      <!-- EMAIL ADDRESS  -->
      <div class="input-div">
        <input
          type="email"
          formControlName="Email"
          data-cy="email-input"
          placeholder="Enter your email"
        />
        <div
          *ngIf="
            loginForm.get('Email')?.invalid &&
            loginForm.get('Email')?.touched &&
            !loginForm.get('Email')?.dirty
          "
          style="color: red"
        >
          Email is required
        </div>
        <div
          *ngIf="
            loginForm.get('Email')?.invalid &&
            loginForm.get('Email')?.dirty &&
            loginForm.get('Email')?.hasError
          "
          style="color: red"
        >
          Please enter a valid email address.
        </div>
      </div>

      <!-- PASSWORD -->
      <div class="input-div">
        <input
          type="password"
          formControlName="Password"
          data-cy="password-input"
          placeholder="Enter your password"
        />
        <div
          *ngIf="
            loginForm.get('Password')?.invalid &&
            loginForm.get('Password')?.touched &&
            !loginForm.get('Password')?.dirty
          "
          style="color: red"
        >
          Password is required
        </div>
        <div
          *ngIf="
            loginForm.get('Password')?.invalid &&
            loginForm.get('Password')?.dirty &&
            loginForm.get('Password')?.touched
          "
          style="color: red"
        >
          Minimum characters is 8
        </div>
      </div>

      <!-- SUBMIT -->
      <button type="submit" class="submit" data-cy="logBtn">Login</button>
      <p>
        Dont have an account yet? <a href="" routerLink="/register">Signup </a>
      </p>
    </form>
  </div>
</section>
