<nav>
  <div class="img">
    <img
      src="../../../assets/brain-exchange-high-resolution-logo-transparent (1).png"
      alt=""
    />
  </div>

  <div class="account">
    <li routerLink="/user">Home</li>
    <a href="/user#categories">Categories</a>
    <div class="both">
      <img src="../../../assets/icons8-member-30.png" alt="" />
      <li>{{ user.Username }}</li>
    </div>
    <li (click)="logout()">Logout</li>
  </div>
</nav>
<section>
  <div class="specialist">
    <div class="profile">
      <img src="{{ user.Profile_Image }}" alt="" />
      <p class="username">{{ user.Username }}</p>
      <button routerLink="/update">Update Profile</button>
      <hr />
      <div class="location">
        <div class="locate">
          <img src="../../../assets/icons8-location-50.png" alt="" />
          <p>From</p>
        </div>
        <div class="other">
          <p>Nairobi</p>
        </div>
      </div>

      <div class="member">
        <div class="since">
          <img src="../../../assets/icons8-member-30.png" alt="" />
          <p>Member Since</p>
        </div>

        <div class="other">
          <p>{{ user.created_at }}</p>
        </div>
      </div>
    </div>

    <div class="gigs">
      <div class="header">
        <!-- <button>Upcoming</button> -->
        <button>All Gigs</button>
      </div>

      <div class="gig-cards">
        <div class="appoint" *ngFor="let order of ordersArr; let i = index">
          <img src="https://picsum.photos/200/150" alt="" />
          <p>Title: {{ order.Description }}</p>
          <p>Location: {{ order.Duration }}</p>
          <p>Salary: {{ order.Salary }}</p>
          <p>Deadline: {{ order.Deadline }}</p>
          <button>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer> </app-footer>
