<nav>
  <div class="img">
    <img src="../../../assets/brain-exchange-high-resolution-logo-transparent (1).png" alt="" />
  </div>

  <div class="account">
    <li>Categories</li>
    <div class="both">
      <img src="../../../assets/icons8-member-30.png" alt="" />
      <li>My Account</li>
    </div>
    <li>Logout</li>
  </div>
</nav>

<section>
  <div class="profile">
    <div class="name">
      <img src="../../../assets/smiling-888532_1280.jpg" alt="" />
      <p>Melvin Sirma</p>
    </div>

    <div class="role">
      <h1>Role:</h1>
      <p>Graphic Designer</p>
    </div>
    <hr />
    <div class="role">
      <h1>Rating:</h1>
      <div class="star">
        <img src="../../../assets/icons8-star-50.png" alt="" />
        <img src="../../../assets/icons8-star-50.png" alt="" />
        <img src="../../../assets/icons8-star-50.png" alt="" />
      </div>
    </div>
    <hr />
    <div class="role">
      <h1>Rate:</h1>
      <p>15$ per hour</p>
    </div>
    <button routerLink="/update">Update Profile</button>
  </div>

  <div class="upgrade">
    <div class="display-orders">
      <div class="orders">
        <h1>Active Orders (3)</h1>

        <label for="orders">
          <select name="" id="">
            <option value="">Active Orders</option>
            <option value="">All Orders</option>
            <option value="">Cancelled Orders</option>
          </select>
        </label>
      </div>

      <div class="display">
        <table>
          <tr>
            <th>No:</th>
            <th>Client Name:</th>
            <th>Total Price</th>
            <th>Deadline:</th>
            <th>Location:</th>
            <!-- <th>Status</th> -->
            <!-- <th>Cancelled:</th> -->
          </tr>

          <tbody>
            <tr>
              <td>1</td>
              <td>Sharon Cherotich</td>
              <td>35$</td>
              <td>3/03/2024</td>
              <td>Nairobi</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Sharon Cherotich</td>
              <td>35$</td>
              <td>3/03/2024</td>
              <td>Nairobi</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Sharon Cherotich</td>
              <td>35$</td>
              <td>3/03/2024</td>
              <td>Nairobi</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <h1>Upgrade your business</h1>
    <div class="all">
      <h2>3 Steps to become a top seller on Brain Exchange</h2>
      <div class="tips">
        <div class="noticed">
          <img src="../../../assets/icons8-megaphone-50.png" alt="" />
          <h3>Get noticed</h3>
          <p>
            Tap into the power of social media by sharing your Gig, and get
            expert to grow your impact.
          </p>
        </div>

        <div class="noticed">
          <img src="../../../assets/icons8-book-50.png" alt="" />
          <h3>Get more skills& exposure</h3>
          <p>Hone your skills and expand your knowledge with online courses.</p>
        </div>

        <div class="noticed">
          <img src="../../../assets/icons8-stars-48.png" alt="" />
          <h3>Become a successful seller!</h3>
          <p>
            Learn how to create an outstanding service experience for your
            buyer.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>