<app-dashboard> </app-dashboard>
<section>
  <div class="register">
    <div class="account">
      <h2>Create an account</h2>
      <p>Connect with specialists and users today.</p>
    </div>
    <form class="form" [formGroup]="registerForm">
      <!-- USERNAME -->
      <div class="input-div">
        <input
          type="text"
          formControlName="Username"
          data-cy="Username"
          placeholder="Enter your Username"
        />
        <div
          *ngIf="
            registerForm.get('Username')?.invalid &&
            registerForm.get('Username')?.touched
          "
          style="color: red"
        >
          Username is required
        </div>
      </div>

      <!-- EMAIL ADDRESS  -->
      <div class="input-div">
        <input
          type="email"
          formControlName="email"
          data-cy="email-input"
          placeholder="Enter your Email"
        />
        <div
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched &&
            !registerForm.get('email')?.dirty
          "
          style="color: red"
        >
          Email is required
        </div>
        <div
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.dirty &&
            registerForm.get('email')?.hasError
          "
          style="color: red"
        >
          Please enter a valid email address.
        </div>
      </div>

      <!-- PHONE NUMBER -->
      <div class="input-div">
        <input
          type="text"
          formControlName="phone_number"
          data-cy="phone_number-input"
          placeholder="Enter your Phone number"
        />
        <div
          *ngIf="
            registerForm.get('phone_number')?.invalid &&
            registerForm.get('phone_number')?.touched
          "
          style="color: red"
        >
          Phone number is required
        </div>
      </div>

      <!-- PASSWORD -->
      <div class="input-div">
        <input
          type="password"
          formControlName="password"
          data-cy="password-input"
          placeholder="Enter your Password"
        />
        <div
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched &&
            !registerForm.get('password')?.dirty
          "
          style="color: red"
        >
          Password is required
        </div>
        <div
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.dirty &&
            registerForm.get('password')?.touched
          "
          style="color: red"
        >
          Minimum characters is 8
        </div>
      </div>

      <!-- SUBMIT -->
      <button type="submit" class="submit" data-cy="create-account-link">
        Signup
      </button>
      <p>Already have an account <a href="" routerLink="/login">Login</a></p>
    </form>
  </div>
</section>
