<div class="container">
  <form class="form" [formGroup]="detailsForm" (ngSubmit)="submitSpecialist()">
    <label for="fname">First Name</label>
    <input
      type="text"
      id="fname"
      formControlName="First_Name"
      placeholder="Your first name.."
    />

    <label for="lname">Last Name</label>
    <input
      type="text"
      id="lname"
      formControlName="Last_Name"
      placeholder="Your last name.."
    />

    <!-- <label for="speciality">Speciality</label>
    <input type="text" id="text" name="speciality" placeholder="Please select one" />

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="Kenya">Kenya</option>
      <option value="Uganda">Uganda</option>
      <option value="Tanzania">Tanzania</option>
      <option value="Rwanda">Rwanda</option>
      <option value="Burundi">Burundi</option>
    </select>

    <label for="city">City</label>
    <input
      type="text"
      id="city"
      name="city"
      placeholder="Your city of residence.."
    /> -->

    <label for="speciality">Speciality</label>
   <select formControlName="Speciality" id="speciality">
    <option value="">--Select category--</option>
    <option value="speciality" *ngFor="let category of categoriesArr" value="{{category.category_id}}">{{category.categoryname}}</option>
   </select>

    <label for="description">Description</label>
    <input
      type="text"
      id="description"
      formControlName="Description"
      placeholder="Describe yourself in about 50 words.."
    />

    <label for="rate">Rate</label>
    <input
      type="text"
      id="rate"
      formControlName="Rate"
      placeholder="Please provide your rate.."
    />

    <button type="submit" class="submit" >Submit</button>
  </form>
</div>
