<nav>
  <div class="img">
    <img
      src="../../../assets/brain-exchange-high-resolution-logo-transparent (1).png"
      alt=""
    />
  </div>

  <div class="account">
    <!-- <li>Categories</li> -->
    <div class="both">
      <img src="../../../assets/icons8-member-30.png" alt="" />
      <li>My Account</li>
    </div>
    <li>Logout</li>
  </div>
</nav>
<section>
  <div class="profile">
    <div class="name">
      <img src="../../../assets/smile-2072907_1280.jpg" alt="" />
      <p>Amanda Chepkoech</p>
    </div>

    <div class="role">
      <h1>Role:</h1>
      <p>Graphic Designer</p>
    </div>
    <hr />
    <div class="role">
      <h1>Rating:</h1>
      <div class="star">
        <img src="../../../assets/icons8-star-50.png" alt="" />
        <img src="../../../assets/icons8-star-50.png" alt="" />
        <img src="../../../assets/icons8-star-50.png" alt="" />
      </div>
    </div>
    <hr />
    <div class="role">
      <h1>Rate:</h1>
      <p>15$ per hour</p>
    </div>
    <div class="buttons">
      <button (click)="leaveReview()">Leave Review</button>
      <button routerLink="/update" (click)="multipleInputs()">
        Book Appointment
      </button>
    </div>
  </div>
  <div class="about">
    <h1>Description</h1>
    <p>
      🚀 Welcome! Need expert programming solutions? <br />I specialize in
      web/mobile development, database management, debugging, and optimization.
      With a commitment to clean, efficient code and timely delivery, I
      prioritize clear communication and personalized service. Let's collaborate
      to bring your project to life with software that exceeds expectations.
      Order now for standout solutions that drive success!
    </p>
  </div>
</section>
<app-footer></app-footer>
