<nav>
  <div class="img">
    <img
      src="../../../assets/brain-exchange-high-resolution-logo-transparent (1).png"
      alt=""
    />
  </div>

  <div class="account">
    <!-- <li>Categories</li> -->
    <div class="both">
      <img src="../../../assets/icons8-member-30.png" alt="" />
      <li>{{user.Username}}</li>
    </div>
    <li>Logout</li>
  </div>
</nav>
<section>
  <div class="profile">
    <div class="name">
      <img src="../../../assets/smile-2072907_1280.jpg" alt="" />
      <p>{{user.First_Name}} {{user.Last_Name}}</p>
    </div>

    <div class="role">
      <h1>Role:</h1>
      <p>{{user.Speciality}}</p>
    </div>
    <hr />
    <div class="role">
      <h1>Rating:</h1>
      <div class="star">
        <img src="../../../assets/icons8-star-50.png" alt="" />
        <img src="../../../assets/icons8-star-50.png" alt="" />
        <img src="../../../assets/icons8-star-50.png" alt="" />
      </div>
    </div>
    <hr />
    <div class="role">
      <h1>Rate:</h1>
      <p>{{user.Rate}}</p>
    </div>
    <div class="buttons">
      <button (click)="leaveReview()">Leave Review</button>
      <button routerLink="/update" (click)="multipleInputs()">
        Book Appointment
      </button>
    </div>
  </div>
  <div class="about">
    <h1>Description</h1>
    <p>
      {{user.Description}}
    </p>
  </div>
</section>
<app-footer></app-footer>
