<nav>
  <div class="img">
    <img
      src="../../../assets/brain-exchange-high-resolution-logo-transparent (1).png"
      alt=""
    />
  </div>

  <div class="account">
    <!-- <li>Categories</li> -->
    <div class="both">
      <img src="../../../assets/icons8-member-30.png" alt="" />
      <li>My Account</li>
    </div>
    <li (click)="logout()">Logout</li>
  </div>
</nav>
<section>
  <div class="profile">
    <div class="name">
      <img src="{{ user.Profile_Image }}" alt="" />
      <p>{{ user.First_Name }} {{ user.Last_Name }}</p>
    </div>

    <div class="role">
      <h1>Role:</h1>
      <p>{{ user.categoryname }}</p>
    </div>
    <hr />
    <div class="role">
      <h1>Rating:</h1>
      <div class="star">
        <img src="../../../assets/icons8-star-50.png" alt="" />
        <img src="../../../assets/icons8-star-50.png" alt="" />
        <img src="../../../assets/icons8-star-50.png" alt="" />
      </div>
    </div>
    <hr />
    <div class="role">
      <h1>Rate:</h1>
      <p>${{ user.Rate }} per hour</p>
    </div> <hr>
    <div class="buttons">
      <div class="stars">
        <h3>Please select a star to review</h3>
        <app-star-rating (ratingChange)="setRating($event)"></app-star-rating>
        <button (click)="leaveReview()">Leave Review</button>
        <button
          routerLink="/update"
          (click)="multipleInputs()"
          style="margin-top: 10px"
        >
          Book Appointment
        </button>
      </div>
    </div>
  </div>
  <div class="about">
    <h1>Description</h1>
    <p>
      {{ user.Description }}
    </p>
  </div>
</section>

<a class="message-button" routerLink="/messages/{{ Specialists_id }}"><i class="fa-regular fa-comment"></i></a>
<app-footer></app-footer>
