<app-dashboard> </app-dashboard>

<div class="main">
  <div class="connect">
    <div class="text">
      <p>
        Find your perfect match: <br />
        connecting seekers with specialists!
      </p>
      <button routerLink="/register">Join now</button>
    </div>
    <img src="../../../assets/social-media-3846597_1280.png" alt="" />
  </div>

  <div class="services">
    <h1>Services you might be looking for</h1>
    <div class="maincards">
      <div class="cards" *ngFor="let category of categoriesArr; let i = index">
        <img src="{{category.image}}" alt="" />
        <p>{{category.categoryname}}</p>
      </div>

      <!-- <div class="cards">
        <img src="../../../assets/code-1839406_640.jpg" alt="" />
        <p>Programming</p>
      </div>

      <div class="cards">
        <img src="../../../assets/writer-1421099_640.jpg" alt="" />
        <p>Writing & Translation</p>
      </div>

      <div class="cards">
        <img src="../../../assets/edition-1677458_640.jpg" alt="" />
        <p>Video & Animation</p>
      </div>

      <div class="cards">
        <img src="../../../assets/home-office-4996834_640.jpg" alt="" />
        <p>Graphic design</p>
      </div> -->
    </div> 
  </div>
  <div class="project">
    <p>
      Unlock your project's full potential with Brain Exchange! Find expert
      freelancers ready to bring your ideas to life. Experience seamless
      collaboration and exceptional results. Visit Brain Exchange now and let's
      make your vision a reality!
    </p>
    <img src="../../../assets/handshake-3139227_1280.jpg" alt="" />
  </div>

  <div class="reviews">
    <div class="review-box">
      <img src="../../../assets/portrait-657116_1280.jpg" alt="" />
      <p>
        Brain Exchange offers diverse freelance services, with amazing services.
        It is a convenient platform, with a wide range of specialists. Overall,
        it is a useful resource.
      </p>
    </div>
  </div>

  <div class="clients">
    <h1>Our Clients</h1>
    <div class="client-img">
      <img src="../../../assets/copia.png" alt="" />
      <img src="../../../assets/dlight.png" alt="" />
      <img src="../../../assets/cellulant.jpeg" alt="" />
      <img src="../../../assets/nation_media_group_logo.jpeg" alt="" />
    </div>
  </div>
</div>

<app-footer> </app-footer>
