<nav>
  <div class="img">
    <img src="../../../assets/TransparentLogoBlack.png" alt="" />
  </div>

  <div class="account">
    <li routerLink="/user">Home</li>
    <li>Categories</li>
    <div class="both">
      <img src="../../../assets/icons8-member-30.png" alt="" />
      <li>My Account</li>
    </div>
    <li>Logout</li>
  </div>
</nav>
<section>
  <div class="specialists">
    <h1>
      Browse through our specialists and find the best in the field of
      Programming
    </h1>
    <div class="maincards">
      <div class="cards">
        <h2>Amanda Chepkoech</h2>
        <img src="../../../assets/smile-2072907_1280.jpg" alt="" />
        <div class="s-card">
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <p>Experience:3 Years</p>
          <p>Rate: 15$ per hour</p>
        </div>
        <div class="buttons">
          <button class="profile" routerLink="/specialists">View Profile</button>
          <button class="book">Book Appointment</button>
        </div>
      </div>
      <div class="cards">
        <h2>Amanda Chepkoech</h2>
        <img src="../../../assets/smile-2072907_1280.jpg" alt="" />
        <div class="s-card">
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <p>Experience:3 Years</p>
          <p>Rate: 15$ per hour</p>
        </div>
        <div class="buttons">
          <button class="profile" routerLink="/specialists">View Profile</button>
          <button class="book">Book Appointment</button>
        </div>
      </div>

      <div class="cards">
        <h2>Amanda Chepkoech</h2>
        <img src="../../../assets/smile-2072907_1280.jpg" alt="" />
        <div class="s-card">
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <p>Experience:3 Years</p>
          <p>Rate: 15$ per hour</p>
        </div>
        <div class="buttons">
          <button class="profile" routerLink="/specialists">View Profile</button>
          <button class="book">Book Appointment</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
