<nav>
  <div class="img">
    <img
      src="../../../assets/brain-exchange-high-resolution-logo-transparent (1).png"
      alt=""
    />
  </div>

  <div class="account">
    <li routerLink="/user">Home</li>
    <a href="user#categories"> Categories</a>
    <div class="both">
      <img src="../../../assets/icons8-member-30.png" alt="" />
      <li>My Account</li>
    </div>
    <li (click)="logout()">Logout</li>
  </div>
</nav>
<section>
  <div class="specialists">
    <h1>
      Browse through our specialists and find the best in the field of
      Programming
    </h1>
    <div class="maincards">
      <div class="cards" *ngFor="let Specialists of specialistsArr">
        <h2>{{ Specialists.First_Name }} {{ Specialists.Last_Name }}</h2>
        <img src="../../../assets/smile-2072907_1280.jpg" alt="" />
        <div class="s-card">
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <img src="../../../assets/icons8-star-50.png" alt="" />
          <p>Role:{{ Specialists.categoryname }}</p>
          <p>Rate: ${{ Specialists.Rate }} per hour</p>
        </div>
        <div class="buttons">
          <button
            class="profile"
            routerLink="/specialists/{{ Specialists.user_id }}"
          >
            View Profile
          </button>
          <button class="book" (click)="multipleInputs()">
            Book Appointment
          </button>
        </div>
      </div>
      <div *ngIf="specialistsArr.length < 1" class="no-specialist">
        <img src="../../../../assets/octocat.png" alt="" />
        <h1>No specialists at the moment</h1>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
