<main>
<section>
    <div class="sidebar">
        <img src="../../../../assets/TransparentLogoBlue.png" alt="">
        <button routerLink="/admin/users-view">Users</button>
        <button>Specialists</button>
        <button>Reviews</button>

          <ul class="actions">
    <!-- <li>
      <a routerLink="/admin/profile"
        ><i class="fa-solid fa-user"></i> Profile</a
      >
    </li> -->
    <li class="logout">
      <p (click)="logout()">
        <i class="fa-solid fa-power-off" style="color: red"></i> Logout
      </p>
    </li>
  </ul>
    </div>
</section>

</main>