<main>
  <section>
    <div class="sidebar">
      <img
        src="../../../../assets/brain-exchange-high-resolution-logo-transparent (1).png"
        alt=""
      />
      <button routerLink="/admin/users-view">Users</button>
      <button routerLink="/admin/specialist-view">Specialists</button>
      <button routerLink="/admin/categories-view">Categories</button>
      <button>Reviews</button>

      <ul class="actions">
        <!-- <li>
      <a routerLink="/admin/profile"
        ><i class="fa-solid fa-user"></i> Profile</a
      >
    </li> -->
        <li class="logout">
          <p (click)="logout()">
            <i class="fa-solid fa-power-off" style="color: white"></i> Logout
          </p>
        </li>
      </ul>
    </div>
  </section>
</main>
