.main {
  background-color: #f0f3f7;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.main > img {
  width: 150px;
}
.buttons {
  display: flex;
  gap: 30px;
  padding: 20px;
}

button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
